<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

	<title>Belem MVC - Produto Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
</head>

<body>
	<div class="container">
		<h2 class="text-center">[[${message}]]</h2>
		<a th:href="@{/listagem}">Listar</a>

		<div class="my-3">
			<form th:action="@{/cadastrar}" method="post" enctype="multipart/form-data" th:object="${produto}"
				style="max-width: 550px; margin: 0 auto">
				<div class="p-3">

					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="nome">Nome</label>
						<div class="col-sm-9">
							<input type="text" th:field="*{nome}" required minlength="2" maxlength="128"
								class="form-control" id="nome" />
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="descricao">Descrição</label>
						<div class="col-sm-9">
							<input type="text" th:field="*{descricao}" minlength="2" maxlength="256"
								class="form-control" id="descricao" />
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="preco">Preço</label>
						<div class="col-sm-9">
							<input type="number" step="1" th:field="*{preco}" required min="1" class="form-control"
								id="preco" />
						</div>
					</div>

					<!-- Submit and Cancel buttons -->
					<div class="text-center">
						<input type="submit" value="Salvar" class="btn btn-primary btn-sm mr-2" />
						<input type="button" value="Cancelar" id="btnCancel" class="btn btn-secondary btn-sm" />
					</div>
				</div>

			</form>
			<h4 class="text-center">[[${messages}]]</h4>
			<br />

		</div>

	</div>

	<br />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>